@model List<MarvelEntity>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MARVEL Characters Web App</h1>
    <p>Learn about Marvel Characters <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
    @foreach (var character in Model)
    {
        <li>
            
            <p>@character.CharacterName</p>
            <p>@character.CharacterDescription</p>
            
        </li>
    }
    </ul>
</div>