@model List<MarvelEntity>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MARVEL Characters MiniBrowser</h1>
    <p>Experience the rest of the Marvel Comics multi-verse here <a href="https://marvel.com">marvel.com</a></p>
    
</div>

<div>
    <ul>
    @foreach (var character in Model)
    {
        <li>
            
            <p>@character.CharacterName</p>
            <p>@character.CharacterDescription</p>
            <img src="@character.CharacterImage" alt="An image of a MARVEL comics character." />
            
        </li>
    }
    </ul>
</div>